.mainContainer {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	// border: green 1px solid;
	display: flex;

		.leftContainer {
			width: 15%;
			// border: yellow 1px solid;
			flex: 0.15;
			padding-left: 20px;
			padding-top: 20px;
		}

		.rightContainer {
			width: 85%;
			flex: 0.85;
			margin-bottom: 5%;
			// border: orange 1px solid;
			display: flex;
			flex-direction: column;
			cursor: pointer;

			.titleContainer{
				// border: green 1px solid;
				width: 100%;
					> h2 {
						color:#d23669;
						font-family: 'Montserrat', sans-serif;
						font-size: 1.75rem;
						font-weight: 900
					}
			}
			
			.dateContainer{
				// border: blue 1px solid;
				width: 100%;
				font-family: 'Merriweather','Georgia',serif;
			}

			.bottomHalfContainer {
				// border: pink 1px solid;
				> p{
					color:black;
					font-family: 'Merriweather','Georgia',serif;
					font-weight: 400;
				}
			}

	}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
	.mainContainer {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		// border: green 1px solid;
		display: flex;
	
			.leftContainer {
				width: 20%;
				// border: yellow 1px solid;
				flex: 0.15;
				padding-left: 1px;
				padding-top: 25px;
				padding-right: 10px;
			}
	
			.rightContainer {
				width: 80%;
				flex: 0.85;
				margin-bottom: 5%;
				// border: orange 1px solid;
				display: flex;
				flex-direction: column;
				cursor: pointer;
				margin: 10px;
	
				.titleContainer{
					// border: green 1px solid;
					width: 100%;
						> h2 {
							color:#d23669;
							font-family: 'Montserrat', sans-serif;
							font-size: 1.75rem;
							font-weight: 900;
						}
				}
				
				.dateContainer{
					// border: blue 1px solid;
					width: 100%;
					font-family: 'Merriweather','Georgia',serif;
					font-size: 14px;
				}
	
				.bottomHalfContainer {
					// border: pink 1px solid;
					> p{
						color:black;
						font-family: 'Merriweather','Georgia',serif;
						font-weight: 400;
						font-size: 14px;
					}
				}
		}
	}

}

@media only screen and (max-width: 1280px) {
	
	.mainContainer {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		// border: green 1px solid;
		display: flex;
	
			.leftContainer {
				width: 20%;
				// border: yellow 1px solid;
				flex: 0.15;
				padding-left: 1px;
				padding-top: 25px;
				padding-right: 10px;
			}
	
			.rightContainer {
				width: 80%;
				flex: 0.85;
				margin-bottom: 5%;
				// border: orange 1px solid;
				display: flex;
				flex-direction: column;
				cursor: pointer;
				margin: 10px;
	
				.titleContainer{
					// border: green 1px solid;
					width: 100%;
						> h2 {
							color:#d23669;
						font-family: 'Montserrat', sans-serif;
						font-size: 1.75rem;
						font-weight: 900
						}
				}
				
				.dateContainer{
					// border: blue 1px solid;
					width: 100%;
					font-family: 'Merriweather','Georgia',serif;
					font-size: 14px;
				}
	
				.bottomHalfContainer {
					// border: pink 1px solid;
					> p{
						color:black;
						font-family: 'Merriweather','Georgia',serif;
						font-weight: 400;
						font-size: 14px;
					}
				}
		}
	}
  
}